<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img style="max-height:220px;max-width:200px;" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        
        <nav>
            <table>
               <tr><td><a href="/index.html"  style="font-size: medium;">Home</a></td></tr>
               <tr><td><a href="/posts/"  style="font-size: medium;">Blogs</a></td></tr>
             <!--  <tr><td><a href="/about/"  style="font-size: medium;">About</a></td></tr> -->

            </table>
        </nav>


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><a href="https://twitter.com/AbhirathB?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @AbhirathB</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179262708-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179262708-1');
</script>

  </body>
</html>